* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 16px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

  .modal-header, h4, .close {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }

#myBtn:hover {
  background-color: #555;
}

.progress-container {
  width: 100%;
  height: 5px;
  background: #ccc;
}

.progress-bar {
  height: 5px;
  background: red;
  width: 0%;
}

#panelwelcome {
  background-color: rgba(238, 17, 17, 0.75);
  text-align: center;
}

#pagehead {
  margin-top: 60px;
  color: white;
}

.jumbotron {
  margin-bottom: 10px;
}

#panelgame {
  background-color: rgba(45, 137, 239, 0.75);
  color: white;
  margin: 70px 0px 50px 0px;
  text-align: center;
}

#gameheads {
  border-left: 6px solid rgb(204, 51, 0);
  margin-left: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

#latest {
  background-color: rgba(200, 200, 200, 0.75);
}

.gamenews {
  border-top: 2px solid black

}

.gamenews > img {
  margin: 10px 20px 10px 20px;
  
}

.gamenews > p, .gamenews > h4 {
  margin: 5px 15px 5px 15px;
  color: black;
  font-weight: 500;
}

#logo {
  margin: 2px 7px 0px 0px; 
  width: 150px;
  height: 47px;
}

.dropdown-menu > .pc > a:hover,
.dropdown-menu > .pc > a:focus {
  background-color: red;
}

.dropdown-menu > .ps > a:hover,
.dropdown-menu > .ps > a:focus {
  color: white;
  text-decoration: none;
  background-color: blue;
}

.dropdown-menu > .mob > a:hover,
.dropdown-menu > .mob > a:focus {
  color: white;
  text-decoration: none;
  background-color: green;
}

body {
  background: url("../images/bg-home.jpg") no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
display: block;
        left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: -10;

}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
}

#newgames {
  margin: 5px 0px 5px 0px;
}

/*Footer Style*/
i {
  margin: 0% 1% 0% 1%;
}

hr {
  margin: 2% 20% 2% 20%;
}

#footbanner {
  background-color: black;
  margin: 0px 0px 0px 0px;
}

#footfollow {
  margin-top: 10px;
}
/*Social Media Style*/

.fa {
   font-size: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google-plus {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}